
# Apply this pylint-rc for better experience
# Configurable in VSCode settings `python.linting.pylintArgs`
# $ pylint --rcfile=.pylint-rc

[MASTER]
jobs=4

[BASIC]
class-const-naming-style=PascalCase
const-naming-style=PascalCase

[MESSAGES CONTROL]
disable=broad-except,
        global-statement,
        fixme, too-few-public-methods,
        import-outside-toplevel

[BASIC]
good-names=i, j, k, ex, x, y, _, e, b, u, s,
           Run, do_GET, do_POST, do_HEAD, do_PUT
