[Unit]
Description=A project that provides support to some Bluetooth Cat Printer models
After=bluetooth.target network.target
Requires=bluetooth.target network.target
StartLimitIntervalSec=5

[Service]
Type=simple
ExecStart=/usr/bin/cat-printer-server -s
Restart=on-failure
DynamicUser=true

[Install]
WantedBy=multi-user.target