body {
    text-align: center;
    margin: 0;
    font-size: large;
    font-family: 'Noto Sans', 'Segoe UI', sans-serif;
}

main.mainpage nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main.mainpage nav a {
    display: inline-block;
    font-size: larger;
    width: 10em;
    padding: 0.5em 0;
}

a:link, a:visited {
    color: blue;
}
a:hover, a:active {
    color: darkblue;
}

main input[type="range"] {
    width: 16em;
}

#notice {
    height: 2em;
    border-top: 1px dotted currentColor;
    border-bottom: 1px dotted currentColor;
    position: sticky;
    top: 0;
    margin: 8px 0;
    width: 100%;
}

.reset_styles {
    font-family: initial;
    font-size: initial;
    text-align: initial;
}
